/* =MAIN */
.main {
  width: 100%;
  height: auto;
  margin: 90px 0px 20px;
}
/* =TITLE */
.main__title {
  width: auto;
  height: auto;
  margin: 20px auto;
  text-align: center;
  line-height: auto;
  font-size: 36px;
  letter-spacing: 2px;
}
.main__index {
  width: auto;
  height: auto;
  margin: 0px auto;
  text-align: center;
  line-height: auto;
}
/* =CONTAINER */
.main__displayContainer {
  width: calc(80vw + 40px);
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/* =BOX */
.main__displayBox {
  width: 80vw;
  max-width: 400px;
  height: auto;
  margin: 20px auto;
  position: relative;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.displayBOX__imgBox {
  width: 100%;
  height: 80vw;
  max-height: 400px;
  position: relative;
  overflow: hidden;
}
.displayBOX__img {
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
}
.displayBox__number {
  width: 100%;
  height: 40px;
  position: absolute; left: 0px; bottom: 0px;
  background-color: #333333;
  opacity: 0.75;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  transition: all 300ms ease-out;
}
.displayBOX__imgBox:hover .displayBox__number {
  position: absolute; bottom: 0px;
  background-color: $color-brown;
}
.displayBox__discount {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 0px 150px 150px;
  border-color: transparent transparent $color-brown transparent;
  position: absolute; right: 0px; bottom: 0px;
  display: none;

  div {
    width: auto;
    height: auto;
    position: absolute; right: 10px; top: 100px;
    color: #ffffff;
    writing-mode: vertical-lr;
    font-size: 16px;
    font-weight: bold;
  }
}
.displayBox__name {
  width: 50%;
  height: 40px;
  margin: 10px 0px;
  padding: 0px 0px 0px 20px;
  color: $color-brown;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
.displayBox__shoppingCart {
  width: auto;
  height: 35px;
  margin: auto 20px auto auto;
  padding: 0px 25px;
  border: solid 1px $color-brown;
  color: $color-brown;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  transition: all 300ms ease-out;
}
.displayBox__shoppingCart:hover {
  background-color: $color-brown;
  color: #ffffff;
}
/* =MEDIA $sm-485px */
@include media($sm-485px) {
}
/* =MEDIA $md-785px */
@include media($md-785px) {
  .main__title {font-size: 40px;}
  .main__displayContainer {
    width: calc(80vw + 80px);
    max-width: 880px;
  }
  .main__displayBox {
    width: 40vw;
    margin: 20px 20px;
  }
  .displayBOX__imgBox {height: 40vw;}
}
/* =MEDIA $md-1000px */
@include media($md-1000px) {
}
/* =MEDIA $lg-1200px */
@include media($lg-1200px) {
  .main__title {font-size: 44px;}
  .main__displayContainer {
    width: calc(80vw + 120px);
    max-width: 1320px;
  }
  .main__displayBox {width: 26vw;}
  .displayBOX__imgBox {height: 26vw;}
  .displayBox__number {
    position: absolute; bottom: -40px;
    background-color: $color-brown;
  }
}
/* =MEDIA $lg-1500px */
@include media($lg-1500px) {
}