/* =MAIN */
.main {
  width: 100%;
  height: auto;
  margin: 90px 0px 20px;
}
/* =PRODUCT__BOX */
.main__productBox {
  width: 90vw;
  max-width: 500px;
  height: auto;
  margin: 0px auto;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
}
  /* =TITLE__BOX */
  @import "./main__titleBox.scss";
  /* =IMG__BOX */
  @import "./main__imgBox.scss";
  /* =PRICE__BOX */
  @import "./main__priceBox.scss";
/* =PRODUCT__DETAILS */
.main__productDetails {
  width: 90vw;
  height: 300px;
  margin: 10px auto;
  background-color: blanchedalmond;
}
/* =MEDIA $sm-485px */
@include media($sm-485px) {
}
/* =MEDIA $md-785px */
@include media($md-785px) {
}
/* =MEDIA $md-1000px */
@include media($md-1000px) {
}
/* =MEDIA $lg-1200px */
@include media($lg-1200px) {
}
/* =MEDIA $lg-1500px */
@include media($lg-1500px) {
}