/* =IMG__BOX */
.productBox__imgBox {
  width: 90vw;
  max-width: 520px;
  height: calc(90vw + 30px);
  max-height: 550px;
  border: solid 1px #aaaaaa;
}
.imgBox__largeBox {
  width: calc(100% - 20px);
  max-width: 500px;
  height: calc(100% - 50px);
  max-width: 500px;
  margin: 10px;
  background-color: darksalmon;
}
/* =MEDIA $sm-485px */
@include media($sm-485px) {
}
/* =MEDIA $md-785px */
@include media($md-785px) {
}
/* =MEDIA $md-1000px */
@include media($md-1000px) {
}
/* =MEDIA $lg-1200px */
@include media($lg-1200px) {
}
/* =MEDIA $lg-1500px */
@include media($lg-1500px) {
}