/* =MAIN */
.forgot__main {
  width: 100%;
  height: auto;
  margin: 90px 0px 20px;
  a {color: #555555;}
  a:hover {color: #000000;}
}
.forgot__main__forgotBox {
  width: 90vw;
  height: auto;
  margin: 0px auto;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
/* =TITLE */
.forgot__forgotBox__title {
  width: 100%;
  height: 70px;
  padding: 0px 40px;
  line-height: 100px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
/* =FORM */
.forgot__forgotBox__form {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
.forgot__forgotForm {
  width: 100%;
  height: 60px;
  margin: 10px 0px;
  padding: 0px 30px 0px;
  text-align: center;
  line-height: 30px;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  div {display: none;}
  input {
    width: 100%;
    padding: 0px 8px;
    border: thin solid #ffffff;
    border-bottom-color: #cccccc;
    border-radius: 2px;
    font-size: 15px;
    transition: all 200ms ease-out;
  }
  input:focus, input:hover {
    outline: none;
    border-bottom-color: #333333;
  }
  input::placeholder {color: #aaaaaa}
}
.forgot__forgotForm__title {
  margin: 0px 0px 0px 20px;
}
.forgot__forgotForm__messages {
  justify-content: space-between;
  color:#cc0505;
  font-size: 15px;
}
.forgot__forgotForm__forgot {
  width: 100%;
  height: 50px;
  margin: 10px 30px;
  border-radius: 8px;
  background-color: $color-main;
  border: solid 1px $color-main;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  transition: all 300ms ease-out;
  &:hover {
    background-color: $color-brown;
    border: solid 1px $color-brown;
    color: #ffffff;
  }
}
/* =LINK */
.forgot__forgotBox__external {
  width: 100%;
  height: 60px;
  margin: 10px;
  border-radius: 8px;
  background-color: #dddddd;
  box-shadow: 0px 0px 0px 0.5px #cccccc;
  text-align: center;
  line-height: 60px;
  font-size: 15px;
  transition: all 300ms ease-out;
  &:hover {
    background-color: #cccccc;
  }
}
/* =MEDIA $sm-485px */
@include media($sm-485px) {
  .forgot__main__forgotBox {width: 380px;}
  .forgot__forgotBox__title {
    height: 100px;
    text-align: center;
  }
  .forgot__forgotForm {
    height: 30px;
    padding: 0px 50px 0px 0px;
    div {display: inline-block;}
    input {
      width: 220px;
      border: thin solid #cccccc;
    }
    input:focus, input:hover {border-color: #333333;}
  }
  .forgot__forgotForm__CAPTCHA {
    div {margin: 0px 16px;}
    input {width: 110px;}
    input::placeholder {color: #ffffff}
  }
  .forgot__forgotForm__messages {padding: 0px 50px 0px;}
  .forgot__forgotForm__forgot {margin: 30px 50px 10px;}
  .forgot__forgotBox__external {width: 100%;}
}
/* =MEDIA $md-785px */
@include media($md-785px) {
  .forgot__main {margin: 70px 0px 20px;}
}
/* =MEDIA $md-1000px */
@include media($md-1000px) {
}
/* =MEDIA $lg-1200px */
@include media($lg-1200px) {
}
/* =MEDIA $lg-1500px */
@include media($lg-1500px) {
}